*{
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    background-color: black;
    height: 10vh;
    margin: auto;
    border-radius: 50px;
    padding: 0 5px;
    gap: 1vw;
    margin-top: 10px;
}

.nav-links li{
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    color: white;
    flex-grow: 1;
    text-align: center;
}

.nav-links li:hover{
    background-color: #2e2e2e;
    border-radius: 50px;
}

.nav-links li:nth-child(1){
    background-color: #fd853a;
    border-radius: 50px;
}